<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Formulário para inserir novas Disciplinas</title>
    <link rel="stylesheet" href="/admin/formAddAluno.css">
    
    <link rel="stylesheet" href="/admin/validation.css">
</head>

<body>

    <%-include('../partes/header')%>


    <h1>Formulário para inserir novas disciplinas</h1>

    <form action="/disciplinas/salvar" method="post" class="student-form">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome da Disciplina" value="<%= disciplina.nome %>">
        </div>

        <div class="form-group">
            <label for="ementa">Ementa</label>
            <input type="text" id="ementa" name="ementa" placeholder="Ementa da Disciplina"
                value="<%= disciplina.ementa %>">
        </div>

        

        <input type="submit" value="Enviar" class="submit-btn">

        <div class="<%= validacao.length > 0 ? 'validation' : '' %>">

            <%if(validacao.length>0){%>
    
                <div>
                    <strong>Atenção!</strong>
                    <ul>
                        <%for(let i=0;i<validacao.length;i++){%>
                            <li>
                                <%=validacao[i].msg%>
                            </li>
                            <%}%>
                    </ul>
                </div>
                <%}%>
        </div>

    </form>


    

</body>

</html>