<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dos Funcionarios </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="alunos/listagemAlunos.css">
</head>

<body>

   
    <%-include('../partes/header')%>

    <section class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Cargo</th>
                    <th>Login</th>
                    <th>Senha</th>
                    <%if (cargo === "admin"){ %>
                        <th>Ações</th>
                    <%}%>
                </tr>
            </thead>

            <tbody>
                <% for(let i=0; i < JFuncionarios.length; i++){ %>
                    <tr class="<%= i % 2 === 0 ? 'row-even' : 'row-odd' %>">
                        <td>
                            <%= JFuncionarios[i].id_func %>
                        </td>
                        <td>
                            <%= JFuncionarios[i].nome %>
                        </td>
                        <td>
                            <%= JFuncionarios[i].sobrenome %>
                        </td>
                        <td>
                            <%= JFuncionarios[i].cargo %>
                        </td>
                        <td>
                            <%= JFuncionarios[i].login %>
                        </td>
                        <td>
                            <%= JFuncionarios[i].senha %>
                        </td>

                        <%if (cargo === "admin"){ %>

                            <td class="buttons">
                                <a href="/funcionarios/editar?id_func=<%=JFuncionarios[i].id_func%>"  class="edit-btn">     
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
    
                                
                                <a href="/funcionarios/excluir?id_func=<%=JFuncionarios[i].id_func%>" class="delete-btn">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                           
                        <%}%>
                        
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </section>

</body>

</html>